<div id="modalEntrada" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="titulo">Nueva Entrada</h4>
            </div>
            <div class="modal-body">
                <div class="alert alert-custom input-sm">(*) Campos obligatorios</div>
                <form class="form-horizontal" onsubmit="return false;">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Producto (*)</label>
                        <div class="col-sm-8">
                            <select id="cboProductoEntrada" class="form-control"></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Cantidad (*)</label>
                        <div class="col-sm-8">
                            <input type="number" id="txtCantidadEntrada" class="form-control" placeholder="Cantidad">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Precio Compra (*)</label>
                        <div class="col-sm-8">
                            <input type="number" id="txtPrecioCompraEntrada" class="form-control" placeholder="Precio Compra">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">UDM</label>
                        <div class="col-sm-8">
                            <input type="text" id="txtUDMEntrada" class="form-control" placeholder="UDM" disabled>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Stock Actual</label>
                        <div class="col-sm-8">
                            <input type="text" id="txtStockActualEntrada" class="form-control" placeholder="Stock Actual" disabled>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnCancelarEntrada" class="btn btn-default waves-effect" data-dismiss="modal">Close</button>
                <button type="button" id="btnGuardarEntrada" class="btn btn-success waves-effect waves-light"><i class="fa fa-check"></i>Guardar</button>
            </div>
        </div>
    </div>
</div>
