@page
@{
    ViewData["Title"] = "Mantenimiento / Servicios";
}

<div class="row">
    <div class="col-sm-12">
        <div class="white-box">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group ultimaFila">
                        <label class="control-label">Nombre</label>
                        <input type="text" id="txtBuscarNombre" class="form-control" placeholder="Nombre del Servicio">
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="form-group ultimaFila">
                        <label></label>
                        <div class="input-group m-t-5">
                            <button class="btn btn-info" id="btnBuscar">
                                <i class="fa fa-search"></i>
                                <span>Buscar</span>
                            </button>
                            <button class="btn btn-danger m-l-10" id="btnNuevo" data-toggle="modal" data-target="#myModalEditServicio">
                                <i class="fa fa-file-o"></i>
                                <span>Nuevo</span>
                            </button>
                            <button class="btn btn-default m-l-10" id="btnCargaMasiva">
                                <i class="fa fa-upload"></i>
                                <span>Carga Masiva</span>
                            </button>
                            <input type="file" id="fileExcel" style="display:none" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="white-box" id="divGrilla">
            <div class="table-responsive">
                <table id="grilla" class="table color-bordered-table inverse-bordered-table">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nombre</th>
                            <th>Precio</th>
                            <th>Acción</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<partial name="_EditServicio.cshtml" />
@section Scripts {
    <script src="~/js/Servicio/Servicio.js"></script>
}


