<div id="myModalEditProducto" class="modal fade long-modal" tabindex="-1" role="dialog" aria-labelledby="longmodal" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Producto</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" id="formularioProducto" onsubmit="return false;">
                    <div class="form-group form-group-sm">
                        <label for="txtNombreProductoEdit" class="control-label col-sm-3">Nombre (*):</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="txtNombreProductoEdit" placeholder="Nombre del Producto" maxlength="100">
                        </div>
                    </div>
                    <div class="form-group form-group-sm">
                        <label for="txtMarcaProductoEdit" class="control-label col-sm-3">Marca:</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="txtMarcaProductoEdit" placeholder="Marca" maxlength="50">
                            <small class="form-text text-muted">Si no desea registrar una marca deje esta casilla en blanco, el sistema la reconocera con el prefijo de <b>S/M.</b></small>
                        </div>
                    </div>
                    <div class="form-group form-group-sm">
                        <label for="ddlUDMEdit" class="control-label col-sm-3">UDM (*):</label>
                        <div class="col-sm-9">
                            <select class="form-control" id="ddlUDMEdit">
                                <option value="NIU">UNI</option>
                                <option value="GLL">GL</option>
                                <option value="ZZ">SS</option>
                                <option value="KGM">KG</option>
                                <option value="CS">CS</option>
                                <option value="BX">BX</option>
                                <option value="BG">BG</option>
                                <option value="P1">P1</option>
                                <option value="VI">VI</option>
                                <option value="BK">BK </option>
                                <option value="U2">U2 </option>
                                <option value="LTR">LT </option>
                                <option value="PK">PK </option>
                                <option value="C62">C62</option>
                                <option value="DZN">DZ </option>
                                <option value="TB">TB </option>
                                <option value="1G">1G </option>
                                <option value="EV">EV </option>
                                <option value="MIL">MIL</option>
                                <option value="PC">PC </option>
                                <option value="MTR">MTR</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group form-group-sm" id="divStockActual">
                        <label class="control-label col-sm-3">Stock Actual:</label>
                        <div class="col-sm-9">
                            <input type="number" class="form-control" id="txtStockActualEdit">
                        </div>
                    </div>
                    <div class="form-group form-group-sm" id="divStockInicial">
                        <label class="control-label col-sm-3">Stock Inicial:</label>
                        <div class="col-sm-9">
                            <input type="number" class="form-control" id="txtStockInicialEdit"
                                   oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                                   maxlength="8">
                            <small class="form-text text-muted">Este no es registrado como una <b>entrada</b>, si desea hacerlo de esta manera después de crear el producto registra la entrada y deje este en 0.00.</small>
                        </div>
                    </div>
                    <div class="form-group form-group-sm" id="divStockMinimo">
                        <label class="control-label col-sm-3">Stock Mínimo:</label>
                        <div class="col-sm-9">
                            <input type="number" class="form-control" id="txtStockMinimoEdit" 
                                   oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                                   maxlength="8">
                        </div>
                    </div>
                    <div class="form-group form-group-sm">
                        <label class="control-label col-sm-3">Costo (*):</label>
                        <div class="col-sm-9">
                            <input type="number" class="form-control" id="txtCostoProductoEdit" 
                                   oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                                   maxlength="8">
                        </div>
                    </div>
                    <div class="form-group form-group-sm">
                        <label class="control-label col-sm-3">Precio Venta (*):</label>
                        <div class="col-sm-9">
                            <input type="number" class="form-control" id="txtPrecioVentaEdit" 
                                   oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                                   maxlength="8">
                            <small id="helperPrecioVenta" class="form-text text-muted"></small>
                        </div>
                    </div>
                    <div class="form-group form-group-sm ultimaFila" id="divGananciaProducto">
                        <label class="control-label col-sm-3">Ganancia:</label>
                        <div class="col-sm-9">
                            <input type="number" class="form-control" id="txtGananciaProducto" disabled="disabled">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-success waves-effect waves-light" id="btnEditProducto">Guardar</button>
            </div>
        </div>
    </div>
</div>