@page
@{
    ViewData["Title"] = "Nueva Proforma";
}

<div class="row">
    <div class="col-md-12">
        <div class="white-box p-b-0">
            <div class="alert alert-danger alert-dismissable" id="divMsg" hidden>
                <button type="button" class="close" onclick="$('#divMsg').hide()" aria-hidden="true">×</button> <ul id="listaMsg">
                
                </ul>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Cliente</label>
                        <div class="input-group">
                            <select id="cboCliente" class="form-control select2"></select>
                            <span class="input-group-btn">
                                <button type="button" id="btnaddCliente" data-toggle="modal" data-target="#myModalEditCliente" class="btn waves-effect waves-light btn-primary"><i class="fa fa-plus"></i></button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="control-label">RUC(*)</label>
                        <input type="text" id="txtRuc" class="form-control" placeholder="RUC" disabled>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="control-label">Fecha</label>
                        <div class="input-group">
                            <input type="text" id="txtFecha" class="form-control mydatepicker" placeholder="Fecha"> <span class="input-group-addon"><i class="icon-calender"></i></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Email(*)</label>
                        <input type="text" id="txtEmail" class="form-control" placeholder="Email" disabled>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Dirección(*)</label>
                        <input type="text" id="txtDireccion" class="form-control" placeholder="Dirección" disabled>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-md-2">
                    <div class="form-group">
                        <label class="control-label">Moneda</label>
                        <select id="cboMoneda" class="form-control select2"></select>
                    </div>
                </div>
                <div class="col-md-2 divTipoCambio">
                    <div class="form-group">
                        <label class="control-label">Tipo de Cambio</label>
                        <input type="number" id="txtTipoCambio" class="form-control" placeholder="Tipo de Cambio" value="1">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="white-box" id="divGrilla">

            <div class="table-responsive">
                <table id="grilla" class="table table-striped m-t-0 m-b-5">
                    <thead>
                        <tr>
                            <th style="width:60%">Item</th>
                            <th>Cantidad</th>
                            <th>UND</th>
                            <th class="caberceraPU">P.U</th>
                            <th class="cabeceraPT">P.T</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th colspan="4" style="text-align:right">Total:</th>
                            <th><input type="text" id="txtTotal" class="form-control" placeholder="Total" disabled></th>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <button type="button" class="btn btn-success waves-effect waves-light m-t-10" id="btnGuardarProforma">
                <i class="fa fa-check"></i>
                <span>Guardar</span>
            </button>
        </div>
    </div>
</div>
<partial name="../Clientes/_EditCliente.cshtml" />
<partial name="../Productos/_EditProducto.cshtml" />
<partial name="../Servicios/_EditServicio.cshtml" />
@section Scripts {
    <script src="~/js/Proforma/Nuevo.js"></script>
}